li a{
  text-decoration: none;
  color: inherit;
}
.modal-body ul li{
  border-radius: 4px;
  margin: 4px;
  padding: 3px;
  text-align: center;
  background-color: #dc3545;
  color: #fff;
}
.modal-body ul li:hover{
  background-color: #a7a7a7;
  color: black;
}

/* laptop cards */
.card{
  min-height: 600px;
  border: 2px solid #dc3545;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}
.card:hover{
  transform: scale(1.04);
}

/* footer */
footer{
  text-align: center;
}


/* newsletter */
#newsletter-box{
  border-radius: 4px;
}